/.gradle/
/reports/
*/generated/
.settings/
.metadata/
*.class
/bin/
/bin_test/
/RemoteSystemsTempFiles/
/generated/
/build
fusiondb-common/build/
fusiondb-common/target/
fusiondb-server/target/
fusiondb-server/build/
cnf/cache/
